.container {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.label {
  font-size: 0.9em;
  display: block;
  margin-bottom: 0.15em;
}

.label.labelError {
  color: red;
}

.select {
  font-size: 1.05em;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  padding-bottom: 0.25em;
}

.select:focus {
  outline: none;
  box-shadow: 0 1px 0 #000;
}

.select.selectError{
  color: red;
  border-bottom-color: red;
}

.select.selectError:focus {
  box-shadow: 0 1px 0 red;
}

.error {
  margin-top: 0.15em;
  display: block;
  color: red;
  font-size: 0.8em;
}