.service-component {
  position: relative;
  height: 300px;
  width: 600px;
  padding: 120px 30px 30px;
}

.service-component__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  z-index: -1;
}