html{
  height: 300vh;
}

.separateAnimal img{
  height: 200px;
  width: auto;
}

#animalSection{
  position: relative;
}

#createModalBox{
  position: fixed;
  height: 300px;
  width: 500px;
  background-color: antiquewhite;
  border: 3px dashed red;
  top: 100px;
  left: 100px;
}

#editModalBox{
  position: fixed;
  height: 300px;
  width: 500px;
  background-color: antiquewhite;
  border: 3px dashed red;
  top: 100px;
  left: 100px;
}