.input {
  font-size: 1.15em;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  padding-bottom: 0.25em;
}

.input:focus {
  outline: none;
  box-shadow: 0 1px 0 #000;
}

.input.inputError{
  color: red;
  border-bottom-color: red;
}

.input.inputError:focus {
  box-shadow: 0 1px 0 red;
}
