.btn {
  background: rgb(2, 93, 51);
  color: rgb(255, 251, 0);
  border: 3px double red;
  padding: 0.2em 0.3em;
  width: 80%;
  margin-left: 10%; 
  font-size: 20px;
}

.btn.btnMuted {
  background: #565657;
  user-select: none;
  cursor: not-allowed !important;
}

.title{
  font-size: 50px;
  font-weight: bold;
}